# Build artifacts
artifacts/

# Local build logs
logs/
msbuild.binlog

# Visual Studio
**/bin/
**/obj/
**/.vs/
*.csproj.user

# ReSharper
*.DotSettings.user
_ReSharper.*/

# Windows thumbnails
Thumbs.db
